{% extends "master.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block title %}
Main menu of tennis club 
{% endblock%}

{% block content %}
{% include 'mymenu.html' with me="Aap" %}

    <h1 class="welcome">Welcome to my first project of django, {{ username }}</h1>

{% with greeting='Hi'%}
    <h2>{{greeting}} {{username}}</h2>
{% endwith %}
    <p><a href="/members/">Members</a></p>
    <p><a href="/testing/">Testing</a></p>

{% include 'footer.html' %}
{% endblock %}