<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testing</title>
</head>
<body>
    {% comment %}
    <h1>This is for comment in django</h1>
    {% endcomment %}

    <h1>This is comment to {# this is easier comment #}</h1>

    <ul>
        {% for member in mymembers %}
        <li>{{ member.firstname }} {{ member.lastname }}</li>
        {% empty %}
        <li>Data Kosong</li>
        {% endfor %}
    </ul>

    {% if fruitA is fruitB %}
    <h1>Halo</h1>
    {% else %}
    <h1>Bye</h1>
    {% endif %}
</body>
</html>